body{
    background-image: url(img2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
fieldset{
    width: 350px;
    margin-top: 350px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px white;
    border: none;
    
}
legend{
    padding: 5px;
    background-color: #d3d3d3;
    border-radius: 5px;

}
div{
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}